@import 'common';
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//fonts.googleapis.com/css?family=Lato:300);

html {
    min-width: 320px;
    height: 100%;
}
body {
    padding-top: 71px;
    padding-bottom: 120px;
    min-width: 320px;
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    font-weight: 300;
    background-image: url(/kr/assets/images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;

    -ms-scrollbar-3dlight-color: #000;
    scrollbar-arrow-color: #d2b98f;
    scrollbar-base-color: #d2b98f;
    -ms-scrollbar-darkshadow-color: #000;
    scrollbar-face-color: #d2b98f;
    -ms-scrollbar-highlight-color: #000;
    -ms-scrollbar-shadow-color: #000;
    -ms-scrollbar-track-color: #000;

    @media (min-width: $sm) {
        padding-top: 115px;
        padding-bottom: 60px;
    }
    @media (min-width: $lg) {
        padding-top: 180px;
    }
}
a {
    color: #fff;
    &:focus, &:hover {
        color: #fff;
    }
}
ol, ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}
p, dl {
    margin-bottom: 0;
}
::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    display: block;
    background: #000;
}
::-webkit-scrollbar-thumb {
    display: block;
    background-color: #d2b98f;
    border-radius: 5px;
    border: 1px solid #000;
}

.skip-nav:focus {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #000;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    z-index: 9999;
    text-decoration: none;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 320px;
    width: 100%;
    height: 71px;
    border-bottom: 1px solid #74654f;
    background-color: rgba(#0a0a0a, .8);
    z-index: 30;
    @media (min-width: $sm) {
        height: 115px;
        border-bottom: 0;
    }
    @media (min-width: $lg) {
        height: 120px;
        background-color: rgba(#0a0a0a, .52);
    }
    .logo {
        margin: 16px auto 0;
        width: 148px;
        height: 39px;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
        @media (min-width: $sm) {
            margin-top: 20px;
            width: 281px;
            height: 73px;
        }
        @media (min-width: $lg) {
            margin-top: 25px;
        }
    }
    .btn-menu {
        margin-top: 18px;
        margin-left: -5px;
        padding: 7px 5px;
        width: 34px;
        height: 34px;
        border: 0;
        background-color: transparent;
        border-radius: 0;
        .bar {
            display: block;
            width: 100%;
            height: 2px;
            margin-top: 7px;
            background-color: #fff;
            &:first-child {
                margin-top: 0;
            }
        }
        @media (min-width: $sm) {
            margin-top: 42px;
            margin-left: 0;
            padding: 0;
            width: 42px;
            height: 35px;
            .bar {
                margin-top: 13px;
                height: 3px;
                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
    .btn-user {
        float: right;
        margin-top: 18px;
        margin-right: -5px;
        padding: 5px;
        width: 34px;
        height: 34px;
        border: 0;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
        @media (min-width: $sm) {
            margin-top: 37px;
            margin-right: 0;
            width: 45px;
            height: 45px;
        }
    }
    .sns {
        overflow: hidden;
        margin-top: 43px;
        li {
            float: left;
            margin-left: 10px;
            &:first-child {
                margin-left: 0;
            }
            a {
                display: block;
                opacity: .75;
                &:focus, &:hover {
                    opacity: 1;
                }
            }
        }
    }
    .reserve {
        display: block;
        height: 40px;
        line-height: 40px;
        background-color: #171717;
        text-align: center;
        &:before {
            position: relative;
            top: 4px;
            margin-right: 8px;
            content: url(/kr/assets/images/ico_pc.png);
        }
    }
    .member {
        margin-top: 15px;
        text-align: center;
        li {
            display: inline-block;
            padding-left: 8px;
            padding-right: 8px;
            a {
                display: block;
                &:before {
                    position: relative;
                    top: 2px;
                    margin-right: 5px;
                }
            }
            &.login {
                a:before {
                    content: url(/kr/assets/images/ico_lock.png);
                }
            }
            &.join {
                a:before {
                    content: url(/kr/assets/images/ico_people.png);
                }
            }
        }
    }
}

#gnb-container {
    display: none;
    overflow: auto;
    position: fixed;
    top: 0;
    padding-top: 71px;
    //padding-bottom: 50px;
    min-width: 320px;
    width: 100%;
    height: 100%;
    z-index: 20;
    @media (min-width: $sm) {
        padding-top: 115px;
    }
    @media (min-width: $lg) {
        overflow: visible;
        display: block;
        margin-top: 150px;
        padding-top: 0;
        height: 30px;
        background-color: rgba(#0a0a0a, .86);
    }
    #gnb {
        overflow: auto;
        padding-left: 0;
        padding-right: 0;
        min-width: 320px;
        width: 100%;
        height: 100%;
        background-color: rgba(#0a0a0a, .7);
        > ul {
            background-color: #0a0a0a;
            > li {
                border-bottom: 1px solid rgba(#fff, .15);
                > a {
                    display: block;
                    padding-left: 15px;
                    padding-right: 15px;
                    height: 50px;
                    font-size: 16px;
                    line-height: 50px;
                    font-weight: 300;
                    text-decoration: none;
                    @media (min-width: $sm) {
                        padding-left: 30px;
                        padding-right: 30px;
                        height: 70px;
                        font-size: 22px;
                        line-height: 70px;
                    }
                }
                > ul {
                    display: none;
                    text-align: left;
                    > li {
                        border-top: 1px solid rgba(#fff, .15);
                        > a {
                            display: block;
                            padding-left: 20px;
                            padding-right: 20px;
                            height: 50px;
                            font-size: 16px;
                            line-height: 50px;
                            background-color: #2a2a2a;
                            font-weight: 100;
                            text-decoration: none;
                            @media (min-width: $sm) {
                                padding-left: 45px;
                                padding-right: 45px;
                                height: 70px;
                                font-size: 22px;
                                line-height: 70px;
                            }
                        }
                    }
                }
                &.active {
                    > ul {
                        display: block;
                    }
                }
            }
        }
        @media (min-width: $lg) {
            overflow: visible;
            margin-top: -30px;
            height: 30px;
            > ul {
                position: relative;
                //height: 60px;
                text-align: center;
                background-color: transparent;
                > li {
                    position: relative;
                    display: inline-block;
                    padding-left: 15px;
                    padding-right: 15px;
                    border-bottom: 0;
                    > a {
                        padding-left: 0;
                        padding-right: 0;
                        height: 30px;
                        font-size: 14px;
                        color: #d2b98f;
                        line-height: 30px;
                        /*
                        &:hover,
                        &:focus {
                            border-bottom: 1px solid rgba(#987237, .6);
                            //& + ul {
                            //    display: block;
                            //}
                        }
                        */
                    }
                    > ul {
                        display: none;
                        overflow: hidden;
                        position: absolute;
                        top: 30px;
                        min-width: 250px;
                        > li {
                            float: left;
                            border-top: 0;
                            > a {
                                padding-left: 15px;
                                padding-right: 15px;
                                font-size: 14px;
                                color: #878787;
                                height: 30px;
                                line-height: 30px;
                                background-color: transparent;
                                text-decoration: none;
                                &:hover,
                                &:focus {
                                    color: #fff;
                                }
                            }
                        }
                    }
                    &.active {
                        > a {
                            border-bottom: 1px solid rgba(#987237, .6);
                        }
                    }
                    /*
                    &:hover,
                    &:focus {
                        > a {
                            border-bottom: 1px solid rgba(#987237, .6);
                        }
                        > ul {
                            display: block;
                        }
                    }
                    */
                    &:nth-of-type(1) {
                        > ul {
                            width: 250px;
                        }
                    }
                    &:nth-of-type(2) {
                        > ul {
                            width: 700px;
                        }
                    }
                    &:nth-of-type(9) {
                        > ul {
                            width: 300px;
                            margin-left: -40px;
                        }
                    }
                }
            }
        }
    }
}

.gnb-opened {
    overflow: hidden;
    #gnb-container {
        display: block;
    }
    @media (min-width: $lg) {
        overflow: auto;
    }
}

#content {
    overflow: auto;
    height: 100%;
    background-color: rgba(#0b0b0b, .8);
    background: -webkit-linear-gradient(rgba(#0b0b0b, .8), rgba(#0b0b0b, 1) 50%);
    background: -o-linear-gradient(rgba(#0b0b0b, .8), rgba(#0b0b0b, 1) 50%);
    background: -moz-linear-gradient(rgba(#0b0b0b, .8), rgba(#0b0b0b, 1) 50%);
    background: linear-gradient(rgba(#0b0b0b, .8), rgba(#0b0b0b, 1) 50%);
    -webkit-overflow-scrolling: touch;
    @media (min-width: $sm) {
        background: none;
        background-color: transparent;
    }
    .container {
        padding-left: 0;
        padding-right: 0;
        > .row {
            margin-left: 0;
            margin-right: 0;
            @for $i from 1 through 12 {
                > .col-xs-#{$i},
                > .col-sm-#{$i},
                > .col-md-#{$i},
                > .col-lg-#{$i} {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
        @media (min-width: $sm) {
            padding-left: 15px;
            padding-right: 15px;
            > .row {
                margin-left: 0;
                margin-right: 0;
                @for $i from 1 through 12 {
                    > .col-xs-#{$i},
                    > .col-sm-#{$i},
                    > .col-md-#{$i},
                    > .col-lg-#{$i} {
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                }
            }
        }
        @media (min-width: $lg) {
            height: 100%;
            > .row {
                margin-left: -15px;
                margin-right: -15px;
                height: 100%;
                @for $i from 1 through 12 {
                    > .col-xs-#{$i},
                    > .col-sm-#{$i},
                    > .col-md-#{$i},
                    > .col-lg-#{$i} {
                        height: 100%;
                    }
                }
            }
        }
    }
}

@media (min-width: $lg) {
    .content-box {
        display: table;
        width: 100%;
        height: 100%;
        .content-cell {
            display: table-cell;
            vertical-align: middle;
        }
    }
}

.desc {
    padding: 30px 20px;
    @media (min-width: $sm) {
        margin-top: 70px;
        margin-bottom: 70px;
        padding: 55px 35px;
        background-color: rgba(#0b0b0b, .8);
    }
    @media (min-width: $lg) {
        margin: 0;
        padding: 35px 25px;
        height: 450px;
    }
    .desc-head {
        .desc-title {
            margin-bottom: 20px;
            font-size: 25px;
            color: #d2b98f;
            @media (min-width: $sm) {
                margin-bottom: 45px;
                font-size: 50px;
            }
            @media (min-width: $lg) {
                margin-bottom: 35px;
                font-size: 35px;
            }
        }
    }
    .desc-body {
        padding-right: 0;
        @media (min-width: $lg) {
            overflow: auto;
            height: 260px;
        }
        > p {
            margin-bottom: 25px;
            line-height: 22px;
            color: #e1e1e1;
            &:last-child {
                margin-bottom: 0;
            }
            @media (min-width: $sm) {
                margin-bottom: 40px;
                font-size: 20px;
                line-height: 34px;
            }
            @media (min-width: $lg) {
                margin-bottom: 25px;
                font-size: 14px;
                line-height: 24px;
            }
            strong {
                font-size: 13px;
                font-weight: 400;
                @media (min-width: $sm) {
                    font-size: 22px;
                }
                @media (min-width: $lg) {
                    font-size: 15px;
                    line-height: 26px;
                }
            }
        }
    }
    .desc-foot {
        .desc-link {
            margin-top: 25px;
            @media (min-width: $sm) {
                margin-top: 40px;
            }
            @media (min-width: $lg) {
                margin-top: 35px;
            }
            li {
                a {
                    display: block;
                    font-size: 13px;
                    line-height: 25px;
                    color: #d2b98f;
                    text-decoration: none;
                }
                @media (min-width: $sm) {
                    display: inline-block;
                    margin-right: 40px;
                    a {
                        font-size: 20px;
                        line-height: 34px;
                    }
                }
                @media (min-width: $lg) {
                    a {
                        font-size: 15px;
                        line-height: 26px;
                    }
                }
            }
        }
    }
}

.paging {
    text-align: center;
    .pagination {
        margin-top: 10px;
        margin-bottom: 10px;
        li {
            a {
                margin: 0 2px;
                background-color: #000;
                color: #fff;
                border: 1px solid #fff;
                &:hover,
                &:focus {
                    background-color: #a3875b;
                    border-color: #a3875b;
                }
                @media (min-width: $sm) {
                    margin: 0 3px;
                    width: 47px;
                    height: 47px;
                    font-size: 18px;
                    line-height: 33px;
                }
                @media (min-width: $lg) {
                    margin: 0 2px;
                    width: 35px;
                    height: 35px;
                    font-size: 13px;
                    line-height: 21px;
                }
            }
            &:first-child,
            &:last-child {
                a {
                    border-radius: 0;
                }
            }
            &.active {
                a {
                    background-color: #a3875b;
                    border-color: #a3875b;
                    font-weight: bold;
                }
            }
        }
    }
}

#footer {
    position: fixed;
    bottom: 0;
    min-width: 320px;
    width: 100%;
    //height: 50px;
    height: 120px;
    background-color: rgba(#000, .95);
    text-align: center;
    line-height: 50px;
    z-index: 10;
    @media (min-width: $sm) {
        height: 60px;
        line-height: 60px;
    }
    .lang {
        height: 32px;
        > .btn {
            border-radius: 0;
            background-color: #ddd;
            border: 0;
            color: #666;
            width: 150px;
            height: 32px;
            vertical-align: top;
        }
        > .dropdown-menu {
            margin-top: 0;
            margin-bottom: 0;
            margin-left: -75px;
            left: 50%;
            width: 150px;
            min-width: inherit;
            border-radius: 0;
            border: 0;
            box-shadow: none;
            background-color: #eee;
            li {
                a {
                    line-height: 30px;
                    text-align: center;
                }
            }
        }
    }
    @media (min-width: $sm) {
        .copy {
            text-align: left;
        }
        .lang {
            float: right;
            margin-top: 12px;
            height: 35px;
            > .btn {
                height: 35px;
                line-height: 23px;
            }
        }
    }
}
