.introduce.about {
  background-image: url(/assets/images/bg_about.jpg); }
.introduce.vision {
  background-image: url(/assets/images/bg_vision.jpg); }
.introduce.map {
  background-image: url(/assets/images/bg_map.jpg); }
  .introduce.map .map-area {
    height: 250px; }
    .introduce.map .map-area img {
      display: block;
      width: 100%;
      height: 100%; }
    @media (min-width: 768px) {
      .introduce.map .map-area {
        margin-bottom: 70px;
        height: 550px;
        border: 2px solid #fff; } }
    @media (min-width: 1200px) {
      .introduce.map .map-area {
        margin-bottom: 0;
        height: 450px; } }

.photo.rehearsal {
  background-image: url(/assets/images/bg_rehearsal.jpg); }
.photo.ceremony {
  background-image: url(/assets/images/bg_ceremony.jpg); }
.photo.baby {
  background-image: url(/assets/images/bg_baby.jpg); }
.photo.family {
  background-image: url(/assets/images/bg_family.jpg); }
.photo.anniversary {
  background-image: url(/assets/images/bg_anniversary.jpg); }
.photo.profile {
  background-image: url(/assets/images/bg_profile.jpg); }
.photo.exclusive {
  background-image: url(/assets/images/bg_exclusive.jpg); }
.photo.premium {
  background-image: url(/assets/images/bg_premium.jpg); }
  .photo.premium .desc-title {
    letter-spacing: -1px; }

.hair.salon {
  background-image: url(/assets/images/bg_salon.jpg); }
  @media (min-width: 1200px) {
    .hair.salon .desc-link {
      margin-top: 10px; }
      .hair.salon .desc-link li {
        margin-right: 25px; } }
.hair.artist {
  background-image: url(/assets/images/bg_artist.jpg); }

.dress {
  background-image: url(/assets/images/bg_dress.jpg); }

.tuxedo {
  background-image: url(/assets/images/bg_tuxedo.jpg); }

.design {
  background-image: url(/assets/images/bg_design.jpg); }

.academy {
  background-image: url(/assets/images/bg_academy.jpg); }

.gallery {
  background-image: url(/assets/images/bg_gallery.jpg); }
  @media (min-width: 768px) {
    .gallery #content {
      background-color: rgba(0, 0, 0, 0.8); } }
  @media (min-width: 1200px) {
    .gallery #content {
      background-color: transparent; } }
  .gallery .gallery-list {
    margin: 0 auto;
    padding: 30px 10px;
    width: 300px; }
    @media (min-width: 768px) {
      .gallery .gallery-list {
        padding: 55px 0;
        width: 100%; } }
    @media (min-width: 1200px) {
      .gallery .gallery-list {
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 35px 25px;
        background-color: rgba(0, 0, 0, 0.8); } }
    .gallery .gallery-list h3 {
      margin-bottom: 20px;
      font-size: 25px;
      color: #d2b98f; }
      @media (min-width: 768px) {
        .gallery .gallery-list h3 {
          margin-bottom: 45px;
          font-size: 40px; } }
      @media (min-width: 1200px) {
        .gallery .gallery-list h3 {
          margin-bottom: 35px;
          font-size: 35px; } }
    .gallery .gallery-list ul li {
      margin-bottom: 30px; }
      .gallery .gallery-list ul li figure {
        position: relative;
        margin: 0 auto;
        width: 280px;
        height: 210px; }
        .gallery .gallery-list ul li figure img {
          width: 100%;
          height: 100%; }
        .gallery .gallery-list ul li figure figcaption {
          overflow: hidden;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 38px;
          color: #fff;
          background-color: rgba(0, 0, 0, 0.7);
          text-align: center;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 15px;
          line-height: 38px; }
        @media (min-width: 1200px) {
          .gallery .gallery-list ul li figure {
            width: 100%;
            height: 190px; } }
    .gallery .gallery-list .paging .pagination {
      margin-bottom: 40px; }
      @media (min-width: 768px) {
        .gallery .gallery-list .paging .pagination {
          margin-top: 20px;
          margin-bottom: 15px; } }
      @media (min-width: 1200px) {
        .gallery .gallery-list .paging .pagination {
          margin-top: 10px;
          margin-bottom: 5px; } }

/*# sourceMappingURL=style.css.map */
